<div class="container">
    <div id="control" style="height: 30%;">
        <div id="buttons">
            <button hx-get="/customer/newCustomer" hx-target="#page">Agregar</button>
            <button type="button" hx-get="/document/new" hx-target="#document-selection" hx-trigger="click"
                data-bs-toggle="modal" , data-bs-target="#document-selection">Nuevo Documento</button>
        </div>

        <h1>Customers</h1>
        <div id="customer-table">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Last Name</th>
                        <th>Address</th>
                        <th>Nationality</th>
                        <th>Occupation</th>
                        <th>Civil Status</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .}}
                    <tr>
                        <td>{{.Name}}</td>
                        <td>{{.LastName}}</td>
                        <td>{{.Address}}</td>
                        <td>{{.Nationality}}</td>
                        <td>{{.Ocupation}}</td>
                        <td>{{.CivilStatus}}</td>
                        <td><button hx-get="/customer?id={{.ID}}" hx-target="#page">Ver</button>
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>
    <div id="customers" style="height: 70%; overflow: auto;"></div>


</div>
<div id="document-selection" class="modal modal-blur" style="display: none" aria-hidden="false" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content"></div>
    </div>
</div>
<script>
    if (typeof customerTable == 'undefined') {
        const customerTable = document.getElementById("customer-table");

        var grid = new gridjs.Grid({
            from: customerTable,
            search: true,
            style: {
                table: {
                    'text-align': 'right',
                    'word-break': 'break-word'
                }
            }
        });
    }

    grid.on('ready', function () { console.log("bien!!!"); htmx.process(document.getElementById("customers")) });
    grid.render(document.getElementById("customers"));
</script>